<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h1 class="card-title text-center">LOGIN</h1>
            <div class="card-text">
                <form #dataForm="ngForm" (ngSubmit)="validData(dataForm)">
                    <div class="form-group">
                        <label for="Email">Email Address</label>
                        <input type="email" name="Email"  id="Email" #Email="ngModel" class="form-control form-control-sm" required pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" ngModel>
                        <div *ngIf="dataForm.submitted && !Email.valid">
                            <small class="text-danger" *ngIf="Email.errors?.required">Required</small>
                            <small class="text-danger" *ngIf="Email.errors?.pattern">Field must be exapml@exampl.com</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <a href="#" style="float: right; font-size: 12px;">Forgot Password</a>
                        <input type="password" name="Password" id="Password" #Password="ngModel" required minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" class="form-control form-control-sm" ngModel>
                        <div *ngIf="dataForm.submitted && !Password.valid">
                            <small class="text-danger" *ngIf="Password.errors?.required">Required</small>
                            <small class="text-danger" *ngIf="Password.errors?.pattern">password must have 8 characters,uppercase letter,lowercase letter,special character</small>
                            <small class="text-danger" *ngIf="Password.errors?.minlength">Minimum eight characters</small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    <div class="signup">
                        Don’t have account ? <a href="#">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>